---
layout: default
---

<header>
  <img src="{{ site.baseurl }}/assets/logo.png" alt="EcoEvoRxiv" class="site-logo">
  <h1>{{ site.name }}</h1>
  <h2>{{ site.description }}</h2>
  
</header>

<main>
  {{ content }}  <!-- This will show the content from your index.md -->
</main>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
