---
layout: default
---

<header>
  <h1><img src="{{ site.logo }}" alt="{{ site.title }}" class="site-logo"></h1>
  <h2>{{ site.title }}</h2>
  <h3>{{ site.name }}</h3>
  <p>{{ site.description }}</p>
</header>

<main>
  {{ content }}  <!-- This will show the content from your index.md -->
</main>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
